html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Estilos generales: Caja, márgenes y letra */

/* Caja */
.contenedor {
	width: auto;
}
.trabajo {
	margin-bottom: 4.5em;
}
.imagen {
	margin-top: 1em;
}
.video {
	margin-top: 1em;
}

/* Letra */
h1 {
	font-family: 'Radley', serif;
	font-size: 3.2em;
  color: rgba(0,16,100,.7);
	text-align: left;
	padding-top: 1.5em;
}
h2 {
  font-family: 'Roboto Slab', serif;
	font-size: 1.25em;
	color: rgba(0,16,100,.5);
	text-align: left;
	margin-top: 2.25em;
	margin-bottom: 2.25em;
	padding-left: 0.5em;
	border-left: 0.125em solid rgba(200,0,0,.8);
}
h3 {
	font-family: 'PT Serif', serif;
	font-weight: bold;
	font-size: 1.25em;
	color: rgba(0,16,100,1);
	text-align: left;
	margin-top: 1.5em;
}
p {
	font-family: 'PT Serif', serif;
	font-size: 1em;
	color: rgba(0,16,100,1);
	text-align: left;
	line-height: 1.5em;
}
.sangria {
	text-indent: 2em;
}
.parrafo {
	margin-top: 1.5em;
}
a {
	font-family: 'PT Serif', serif;
	font-size: 1em;
	text-decoration: none;
	color: white;
	background-color: rgba(0,16,100,.5);
}
a:visited {
	background-color: rgba(200,0,0,.6);
}

/* Alineación */
.cent {
  text-align: center;
}
.der {
  text-align: right;
}
.centCont {
	margin: auto;
}
.flex {
	display: flex;
}


/* Estilos concretos: body, main, nav, header y footer. */

/* <body></body> El cambio en el porcentaje afecta a todos
los textos. Puede llevar un orillo. */
body {
    font: normal 100% Helvetica, Arial, sans-serif;
}

/* <main></main> Ancho máximo, color y márgenes de la mancha */
main {
	min-width: 20em;
  max-width: 75em;
	background: white;
	margin: auto;
}

/* <nav></nav> */
nav {
  margin-left: auto;
  position: -webkit-sticky;
  position: sticky;
  top: -29.75em;
  z-index: 9000;
}
nav ul {
	background-color: rgba(200,0,0,.8);
	float: right;
	display: flex;
	position: relative;
	top: 29.75em;
}
nav ul li {
  height: 1.25em;
  padding: 0.3125em 0.625em;
}
nav ul li a {
	font-family: 'PT Serif', serif;
	font-size: 0.875em;
	color: white;
}
#menu a {
  text-decoration: none;
	background-color: rgba(200,0,0,0);
}
#menu a:hover {
	width: 1.875em;
	text-decoration: line-through;
	background-color: rgba(200,0,0,.5);
}
/* Esta parte define el efecto de prolongación de la faja derecha */
.fajaDCont {
	position: -webkit-sticky;
  position: sticky;
  top: -29.75em;
  z-index: -9000;
}
.fajaD {
	width: 50%;
	height: 1.875em;
	background-color: rgba(200,0,0,.8);
	margin-left: 50%;
	position: absolute;
	top: 29.75em;
}

/* <header></header> Titular, portada y último trabajo */
#titular {
	margin-bottom: 25vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
}
#ultimo {
	background-color: white;
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
}

/* <footer></footer> */
#contacto {
	height: 7.5em;
	background-color: rgba(200,0,0,1);
	margin-top: 1em;
	margin-bottom: 2em;
}
#contacto img {
	height: 7.5em;
}
#contacto nav {
	margin-top: 0.4em;
	line-height: 1.5em;
}
#contacto a {
	color: rgba(200,0,0,1);
	background: rgba(250,250,250,1);
	margin-left: 0.5em;
}
#contacto a:hover {
	color: rgba(200,0,0,1);
	background: rgba(250,250,250,1);
	margin-left: 1em;
}
/* Esta parte define el efecto de prolongación de la faja derecha */
.fajaICont {
	position: relative;
	bottom: 9.5em;
	z-index: -16;
}
.fajaI {
	width: 50%;
	height: 7.5em;
	background-color: rgba(200,0,0,1);
	margin-right: 50%;
	position: absolute;
}


/* Media query */

/* Media query iPod touch */
@media (min-width: 20em) {
	body {
	    font: normal 100% Helvetica, Arial, sans-serif;
	}
  main {
    width: 93.125vw;
  }
  .colA1 {
    width: 30.872%;
  }
  .colA2 {
    width: 65.436%;
  }
  .colA3 {
    width: 95%;
  }
	.margA1 {
		margin-left: 34.563%;
	}
	.columnas {
		width: 65.436%;
		margin: auto;
		margin-bottom: 2.25em;
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
	}
	.navMov {
		margin-left: 7vw;
	}
	#contacto nav {
	margin-left: 1vw;
	}
	#cerrar + label {
		width: 65.436vw;
		top: 310px;
		left: 34.564vw;
	}
	#cerrar + label:hover {
		width: 38vw;
	}
	.modal {
		width: 100vw;
	}
	.contenido {
		width: 93.125%;
		background: black;
	}
	.informacion {
		padding: 20px 20px 0 20px;
	}
	.texto {
		padding: 20px 20px 0 20px;
	}
	.info {
		padding: 120px 20px 0 20px;
	}

}

/* Media query iPad */
@media (min-width: 48em) {
	body {
	    font: normal 100% Helvetica, Arial, sans-serif;
	}
  main {
    width: 95.572vw;
  }
  .colB1 {
    width: 18.256%;
  }
  .colB2 {
    width: 38.692%;
  }
  .colB3 {
    width: 59.128%;
  }
  .colB4 {
    width: 79.564%;
  }
  .colB5 {
    width: 100%;
  }
	.navMov {
		margin-left: 4.5em;
	}
	.margB1{
		margin-left: 20.435%;
	}
	.margB2{
		margin-left: 40.871%;
	}
	.margB3{
		margin-left: 61.307%;
	}
	.columnas {
		width: 79.564%;
		margin-bottom: 2.25em;
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
		-webkit-column-gap: 1.25em;
		-moz-column-gap: 1.25em;
		column-gap: 1.25em;
		-webkit-column-rule: 0.0625em solid rgba(200,0,0,.8);
		-moz-column-rule: 0.0625em solid rgba(200,0,0,.8);
		column-rule: 0.0625em solid rgba(200,0,0,.8);
	}
	.navMov {
		margin-left: 9vw;
	}
	#contacto nav {
	margin-left: 2em;
	}
	#cerrar + label {
		width: 59.128vw;
		top: 310px;
		left: 40.872vw;
	}
	.modal {
		width: 100%;
	}
	.contenido {
		width: 95.572%;
		background: black;
	}
	.informacion {
		width: 79.564%;
		padding: 0 0 0 0;
	}
	.texto {
		width: 79.564%;
		padding: 0 20px 0 20px;
	}
	.info {
		width: 79.564%;
		padding: 120px 20px 0 20px;
	}
	#cerrar + label:hover {
		width: 19vw;
	}
}

/* Media query iMac */
@media (min-width: 68.75em) {
	body {
			font: normal 95% Helvetica, Arial, sans-serif;
	}
	main {
    width: 92vw;
  }
	h1 {
		font-size: 3.6em;
	}
  .colC1 {
    width: 15.307%;
  }
  .colC2 {
    width: 32.246%;
  }
  .colC3 {
    width: 49.184%;
  }
  .colC4 {
    width: 66.123%;
  }
  .colC5 {
    width: 83.061%;
  }
  .colC6 {
    width: 100%
  }
	.margC1 {
		margin-left: 16.938%;
	}
	.margC2 {
		margin-left: 33.876%;
	}
	.margC3 {
		margin-left: 50.815%;
	}
	.margC4 {
		margin-left: 67.753%;
	}
	.navMov {
		margin-left: 3.5em;
	}
	.columnas {
		width: 83.061%;
		margin-bottom: 2.25em;
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
		-webkit-column-gap: 1.125em;
		-moz-column-gap: 1.125em;
		column-gap: 1.125em;
		-webkit-column-rule: 0.125em solid rgba(200,0,0,.8);
		-moz-column-rule: 0.125em solid rgba(200,0,0,.8);
		column-rule: 0.125em solid rgba(200,0,0,.8);
	}
	.navMov {
		margin-left: 5em;
	}
	.vrtclxhrztl  {
		display: flex;
		float: right;
	}
	.ajustoptic {
		margin-top: 3.5em;
		margin-bottom: 12.5em;
	}
	#cerrar + label {
		width: 50.815vw;
		top: 300px;
		left: 49.185vw;
	}
	.modal {
		width: 100%;
	}
	.contenido {
		width: 92%;
		background: black;
	}
	.informacion {
		width: 66.123%;
		padding: 0 0 0 0;
	}
	.texto {
		width: 66.123%;
		padding: 0 20px 0 20px;
	}
	.info {
		width: 66.123%;
		padding: 120px 20px 0 20px;
	}
	#cerrar + label:hover {
		width: 20vw;
	}
}

.modal {
	height: 80vh;
	background: white;
	z-index: 99997;

	position: fixed;
	top: 0;

	display: flex;
}

.contenido h2 {
	font-style: helvetica;
	font-size: 2em;
	color: blue;
	z-index: 99998;
}
.contenido {
	margin: auto;
	min-height: 450px;
	min-width: 430px;
	max-width: 75em;
	height: 100%;
	border: 100px;
}
.informacion, .texto, .info {
	margin: auto;
}
.contenido h1 {
	font-family: helvetica;
	font-size: 2.5em;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 0.2em;
	color: white;
}
.contenido p {
	font-family: georgia;
	font-size: 1.2em;
	color: white;
}
.contenido a {
	font-family: georgia;
	font-size: 1em;
	color: white;
	margin-left: 1px;
	padding: 2px 2px;
	border-bottom: 1px solid white;
	background-color: black;
}
.contenido a:hover {
	color: black;
	background-color: white;
}
.contenido a:visited {
	color: black;
	background-color: white;
}
#cerrar {
	display: none;
}
#cerrar + label {
	font-family: helvetica;
	font-size: 16px;
	color: black;
	line-height: 40px;

	padding: 0 30px;
	background: white;
	position: fixed;

	z-index: 99999;
	cursor: pointer;
}
#cerrar + label:hover {
	transition-duration: 2s;
	background: rgba(50,180,0,1);
}

#cerrar:checked + label, #cerrar:checked ~ .modal {
	display: none;
}
